In [3]:
import pandas as pd
import numpy as np
import calendar
from datetime import datetime
from matplotlib import dates as mpl_dates
import matplotlib.pyplot as plt
import seaborn as sns
import timeit

In [4]:
df = pd.read_csv('reading_habits.csv')
df.head()

,Age,Sex,Race,Marital status?,Education,Employement,Incomes,How many books did you read during last 12months?,Read any printed books during last 12months?,Read any audiobooks during last 12months?,Read any e-books during last 12months?,"Last book you read, you…",Do you happen to read any daily news or newspapers?,Do you happen to read any magazines or journals?
0,66,Male,Refused,Divorced,College graduate,Retired,"$20,000 to under $30,000",97,Yes,No,Yes,Purchased the book,No,Yes
1,46,Male,Native American/American Indian,Married,High school graduate,Employed full-time,"Less than $10,000",97,Yes,Yes,Yes,Purchased the book,Yes,Yes
2,32,Male,Mixed race,Never been married,High school graduate,Employed full-time,"Less than $10,000",97,No,Yes,Yes,Borrowed the book from a friend or family member,Yes,Yes
3,27,Male,Mixed race,Married,High school graduate,Employed full-time,"$40,000 to under $50,000",97,Yes,No,Yes,Borrowed the book from a library,Yes,No
4,16,Female,Mixed race,Never been married,High school incomplete,Employed part-time,"$10,000 to under $20,000",97,Yes,Yes,No,Purchased the book,Yes,No

In [5]:
df.dtypes

Age                                                     int64
Sex                                                    object
Race                                                   object
Marital status?                                        object
Education                                              object
Employement                                            object
Incomes                                                object
How many books did you read during last 12months?       int64
Read any printed books during last 12months?           object
Read any audiobooks during last 12months?              object
Read any e-books during last 12months?                 object
Last book you read, you…                               object
Do you happen to read any daily news or newspapers?    object
Do you happen to read any magazines or journals?       object
dtype: object

In [14]:
for col in df.columns:
    print(col)
    print(df[col].value_counts())
    print("")

Age
50    78
65    76
60    72
47    70
16    68
      ..
91     3
89     2
90     2
92     2
93     1
Name: Age, Length: 78, dtype: int64

Sex
Female    1479
Male      1353
Name: Sex, dtype: int64

Race
White                              2217
Black or African-American           347
Asian or Pacific Islander            70
Mixed race                           63
Other                                58
Refused                              37
Native American/American Indian      31
Don’t know                            9
Name: Race, dtype: int64

Marital status?
Married                  1532
Never been married        592
Divorced                  245
Widowed                   191
Living with a partner     141
Single                     60
Separated                  54
Don’t know                 17
Name: Marital status?, dtype: int64

Education
High school graduate                                        688
Some college, no 4-year degree                              651
College graduate                                            597
Post-graduate training/professional school after college    501
High school incomplete                                      263
Technical, trade or vocational school AFTER high school      66
None                                                         58
Don’t know                                                    8
Name: Education, dtype: int64

Employement
Employed full-time                 1238
Retired                             605
Not employed for pay                474
Employed part-time                  355
Disabled                             70
Have own business/self-employed      53
Student                              22
Other                                15
Name: Employement, dtype: int64

Incomes
$100,000 to under $150,000     530
$50,000 to under $75,000       394
$75,000 to under $100,000      316
Refused                        291
$30,000 to under $40,000       265
$20,000 to under $30,000       238
$10,000 to under $20,000       216
9$100,000 to under $150,000    212
$40,000 to under $50,000       207
Less than $10,000              163
Name: Incomes, dtype: int64

How many books did you read during last 12months?
0     390
3     209
6     172
2     169
5     167
4     166
10    162
20    159
12    159
1     149
97    124
30    109
50    108
15    103
25     82
8      69
40     53
7      49
24     35
60     19
36     16
35     15
96     15
75     14
13     12
16     11
9      11
70     10
18     10
14      9
45      7
17      6
80      6
48      5
11      4
55      3
32      3
47      2
90      2
26      2
65      2
52      2
19      1
84      1
76      1
51      1
42      1
43      1
54      1
38      1
67      1
37      1
23      1
22      1
Name: How many books did you read during last 12months?, dtype: int64

Read any printed books during last 12months?
Yes           2264
No             168
Don’t know      10
Name: Read any printed books during last 12months?, dtype: int64

Read any audiobooks during last 12months?
No            2027
Yes            411
Don’t know       4
Name: Read any audiobooks during last 12months?, dtype: int64

Read any e-books during last 12months?
No            1641
Yes            787
Don’t know      14
Name: Read any e-books during last 12months?, dtype: int64

Last book you read, you…
Purchased the book                                  1266
Borrowed the book from a friend or family member     501
Borrowed the book from a library                     335
Got the book some other way                          309
8                                                     25
9                                                      6
Name: Last book you read, you…, dtype: int64

Do you happen to read any daily news or newspapers?
Yes           1750
No            1077
Don’t know       5
Name: Do you happen to read any daily news or newspapers?, dtype: int64

Do you happen to read any magazines or journals?
Yes           1506
No            1322
Don’t know       4
Name: Do you happen to read any magazines or journals?, dtype: int64

In [15]:
df['Race'].value_counts()

White                              2217
Black or African-American           347
Asian or Pacific Islander            70
Mixed race                           63
Other                                58
Refused                              37
Native American/American Indian      31
Don’t know                            9
Name: Race, dtype: int64

In [18]:
df['Marital status?'].value_counts()

Married                  1532
Never been married        592
Divorced                  245
Widowed                   191
Living with a partner     141
Single                     60
Separated                  54
Don’t know                 17
Name: Marital status?, dtype: int64

In [19]:
df['Education'].value_counts()

High school graduate                                        688
Some college, no 4-year degree                              651
College graduate                                            597
Post-graduate training/professional school after college    501
High school incomplete                                      263
Technical, trade or vocational school AFTER high school      66
None                                                         58
Don’t know                                                    8
Name: Education, dtype: int64

In [20]:
df['Employement'].value_counts()

Employed full-time                 1238
Retired                             605
Not employed for pay                474
Employed part-time                  355
Disabled                             70
Have own business/self-employed      53
Student                              22
Other                                15
Name: Employement, dtype: int64

In [21]:
df['Incomes'].value_counts()

$100,000 to under $150,000     530
$50,000 to under $75,000       394
$75,000 to under $100,000      316
Refused                        291
$30,000 to under $40,000       265
$20,000 to under $30,000       238
$10,000 to under $20,000       216
9$100,000 to under $150,000    212
$40,000 to under $50,000       207
Less than $10,000              163
Name: Incomes, dtype: int64

In [22]:
df['Read any printed books during last 12months?'].value_counts()

Yes           2264
No             168
Don’t know      10
Name: Read any printed books during last 12months?, dtype: int64

In [23]:
df['Read any audiobooks during last 12months?'].value_counts()

No            2027
Yes            411
Don’t know       4
Name: Read any audiobooks during last 12months?, dtype: int64

In [24]:
df['Read any e-books during last 12months?'].value_counts()

No            1641
Yes            787
Don’t know      14
Name: Read any e-books during last 12months?, dtype: int64

In [25]:
df['Last book you read, you…'].value_counts()

Purchased the book                                  1266
Borrowed the book from a friend or family member     501
Borrowed the book from a library                     335
Got the book some other way                          309
8                                                     25
9                                                      6
Name: Last book you read, you…, dtype: int64

In [26]:
df['Do you happen to read any daily news or newspapers?'].value_counts()

Yes           1750
No            1077
Don’t know       5
Name: Do you happen to read any daily news or newspapers?, dtype: int64

In [27]:
df['Do you happen to read any magazines or journals?'].value_counts()

Yes           1506
No            1322
Don’t know       4
Name: Do you happen to read any magazines or journals?, dtype: int64

In [31]:
df['Sex'].value_counts()

Female    1479
Male      1353
Name: Sex, dtype: int64