In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import timeit
import re

In [59]:
df = pd.read_csv('reading_habits.csv')
df.head()

,Age,Sex,Race,Marital status?,Education,Employement,Incomes,How many books did you read during last 12months?,Read any printed books during last 12months?,Read any audiobooks during last 12months?,Read any e-books during last 12months?,"Last book you read, you…",Do you happen to read any daily news or newspapers?,Do you happen to read any magazines or journals?
0,66,Male,Refused,Divorced,College graduate,Retired,"$20,000 to under $30,000",97,Yes,No,Yes,Purchased the book,No,Yes
1,46,Male,Native American/American Indian,Married,High school graduate,Employed full-time,"Less than $10,000",97,Yes,Yes,Yes,Purchased the book,Yes,Yes
2,32,Male,Mixed race,Never been married,High school graduate,Employed full-time,"Less than $10,000",97,No,Yes,Yes,Borrowed the book from a friend or family member,Yes,Yes
3,27,Male,Mixed race,Married,High school graduate,Employed full-time,"$40,000 to under $50,000",97,Yes,No,Yes,Borrowed the book from a library,Yes,No
4,16,Female,Mixed race,Never been married,High school incomplete,Employed part-time,"$10,000 to under $20,000",97,Yes,Yes,No,Purchased the book,Yes,No

In [60]:
df.dtypes

Age                                                     int64
Sex                                                    object
Race                                                   object
Marital status?                                        object
Education                                              object
Employement                                            object
Incomes                                                object
How many books did you read during last 12months?       int64
Read any printed books during last 12months?           object
Read any audiobooks during last 12months?              object
Read any e-books during last 12months?                 object
Last book you read, you…                               object
Do you happen to read any daily news or newspapers?    object
Do you happen to read any magazines or journals?       object
dtype: object

In [61]:
for col in df.columns:
    print(col)
    print(df[col].value_counts())
    print("")

Age
50    78
65    76
60    72
47    70
16    68
      ..
91     3
89     2
90     2
92     2
93     1
Name: Age, Length: 78, dtype: int64

Sex
Female    1479
Male      1353
Name: Sex, dtype: int64

Race
White                              2217
Black or African-American           347
Asian or Pacific Islander            70
Mixed race                           63
Other                                58
Refused                              37
Native American/American Indian      31
Don’t know                            9
Name: Race, dtype: int64

Marital status?
Married                  1532
Never been married        592
Divorced                  245
Widowed                   191
Living with a partner     141
Single                     60
Separated                  54
Don’t know                 17
Name: Marital status?, dtype: int64

Education
High school graduate                                        688
Some college, no 4-year degree                              651
College graduate                                            597
Post-graduate training/professional school after college    501
High school incomplete                                      263
Technical, trade or vocational school AFTER high school      66
None                                                         58
Don’t know                                                    8
Name: Education, dtype: int64

Employement
Employed full-time                 1238
Retired                             605
Not employed for pay                474
Employed part-time                  355
Disabled                             70
Have own business/self-employed      53
Student                              22
Other                                15
Name: Employement, dtype: int64

Incomes
$100,000 to under $150,000     530
$50,000 to under $75,000       394
$75,000 to under $100,000      316
Refused                        291
$30,000 to under $40,000       265
$20,000 to under $30,000       238
$10,000 to under $20,000       216
9$100,000 to under $150,000    212
$40,000 to under $50,000       207
Less than $10,000              163
Name: Incomes, dtype: int64

How many books did you read during last 12months?
0     390
3     209
6     172
2     169
5     167
4     166
10    162
20    159
12    159
1     149
97    124
30    109
50    108
15    103
25     82
8      69
40     53
7      49
24     35
60     19
36     16
35     15
96     15
75     14
13     12
16     11
9      11
70     10
18     10
14      9
45      7
17      6
80      6
48      5
11      4
55      3
32      3
47      2
90      2
26      2
65      2
52      2
19      1
84      1
76      1
51      1
42      1
43      1
54      1
38      1
67      1
37      1
23      1
22      1
Name: How many books did you read during last 12months?, dtype: int64

Read any printed books during last 12months?
Yes           2264
No             168
Don’t know      10
Name: Read any printed books during last 12months?, dtype: int64

Read any audiobooks during last 12months?
No            2027
Yes            411
Don’t know       4
Name: Read any audiobooks during last 12months?, dtype: int64

Read any e-books during last 12months?
No            1641
Yes            787
Don’t know      14
Name: Read any e-books during last 12months?, dtype: int64

Last book you read, you…
Purchased the book                                  1266
Borrowed the book from a friend or family member     501
Borrowed the book from a library                     335
Got the book some other way                          309
8                                                     25
9                                                      6
Name: Last book you read, you…, dtype: int64

Do you happen to read any daily news or newspapers?
Yes           1750
No            1077
Don’t know       5
Name: Do you happen to read any daily news or newspapers?, dtype: int64

Do you happen to read any magazines or journals?
Yes           1506
No            1322
Don’t know       4
Name: Do you happen to read any magazines or journals?, dtype: int64

In [62]:
dataset = df[['Age','Race','Sex','Education','Employement','How many books did you read during last 12months?','Read any printed books during last 12months?','Read any audiobooks during last 12months?','Read any e-books during last 12months?','Do you happen to read any daily news or newspapers?','Do you happen to read any magazines or journals?','Incomes']]
dataset.head()

,Age,Race,Sex,Education,Employement,How many books did you read during last 12months?,Read any printed books during last 12months?,Read any audiobooks during last 12months?,Read any e-books during last 12months?,Do you happen to read any daily news or newspapers?,Do you happen to read any magazines or journals?,Incomes
0,66,Refused,Male,College graduate,Retired,97,Yes,No,Yes,No,Yes,"$20,000 to under $30,000"
1,46,Native American/American Indian,Male,High school graduate,Employed full-time,97,Yes,Yes,Yes,Yes,Yes,"Less than $10,000"
2,32,Mixed race,Male,High school graduate,Employed full-time,97,No,Yes,Yes,Yes,Yes,"Less than $10,000"
3,27,Mixed race,Male,High school graduate,Employed full-time,97,Yes,No,Yes,Yes,No,"$40,000 to under $50,000"
4,16,Mixed race,Female,High school incomplete,Employed part-time,97,Yes,Yes,No,Yes,No,"$10,000 to under $20,000"

In [63]:
dataset = dataset.rename(columns={'How many books did you read during last 12months?':'Books_last_12m', 'Read any printed books during last 12months?': 'Printed_books', 'Read any audiobooks during last 12months?':'Audio_books','Read any e-books during last 12months?':'E_books','Do you happen to read any daily news or newspapers?':'Daily_news','Do you happen to read any magazines or journals?':'Magazines_journals'})

In [64]:
dataset['Incomes'].value_counts()

$100,000 to under $150,000     530
$50,000 to under $75,000       394
$75,000 to under $100,000      316
Refused                        291
$30,000 to under $40,000       265
$20,000 to under $30,000       238
$10,000 to under $20,000       216
9$100,000 to under $150,000    212
$40,000 to under $50,000       207
Less than $10,000              163
Name: Incomes, dtype: int64

In [65]:
dataset['Incomes'] = dataset['Incomes'].apply(lambda x: x[1:] if x == '9$100,000 to under $150,000' else x)

In [66]:
dataset['Incomes'].value_counts()

$100,000 to under $150,000    742
$50,000 to under $75,000      394
$75,000 to under $100,000     316
Refused                       291
$30,000 to under $40,000      265
$20,000 to under $30,000      238
$10,000 to under $20,000      216
$40,000 to under $50,000      207
Less than $10,000             163
Name: Incomes, dtype: int64

In [67]:
dataset = dataset.drop(dataset[dataset.Incomes == 'Refused'].index)
dataset.shape

(2541, 12)

In [68]:
#dataset['Income_min'] = dataset['Income'].apply(lambda x: x.split(' ')[])
#dataset['Incomes'].apply(lambda x: x.split(' ')[0])
#int(filter(str.isdigit, dataset['Incomes'].values[0].split(' ')[0].isdigit))
#re.findall('\d+',dataset['Incomes'].values[0].split(' ')[0])
dataset['Incomes_min'] = dataset['Incomes'].apply(lambda x: x.split(' ')[0])
dataset.Incomes_min.value_counts()

$100,000    742
$50,000     394
$75,000     316
$30,000     265
$20,000     238
$10,000     216
$40,000     207
Less        163
Name: Incomes_min, dtype: int64

In [69]:
dataset['Incomes_max'] = dataset['Incomes'].apply(lambda x: x.split(' ')[-1])
dataset.Incomes_max.value_counts()

$150,000    742
$75,000     394
$100,000    316
$40,000     265
$30,000     238
$20,000     216
$50,000     207
$10,000     163
Name: Incomes_max, dtype: int64

In [70]:
#dataset['Incomes_min'] = dataset['Incomes'].apply(lambda x: x.split(' ')[0])
#dataset.Incomes_min.value_counts()
dataset['Incomes_min'] = dataset['Incomes_min'].replace('Less','0')
dataset.Incomes_min.value_counts()

$100,000    742
$50,000     394
$75,000     316
$30,000     265
$20,000     238
$10,000     216
$40,000     207
0           163
Name: Incomes_min, dtype: int64

In [71]:
dataset['Incomes_min'] = dataset['Incomes_min'].apply(lambda x: int(x.replace('$','').replace(',','')))
dataset['Incomes_max'] = dataset['Incomes_max'].apply(lambda x: int(x.replace('$','').replace(',','')))
dataset.dtypes

Age                    int64
Race                  object
Sex                   object
Education             object
Employement           object
Books_last_12m         int64
Printed_books         object
Audio_books           object
E_books               object
Daily_news            object
Magazines_journals    object
Incomes               object
Incomes_min            int64
Incomes_max            int64
dtype: object

In [72]:
dataset[{'Incomes_max', 'Incomes_min'}].value_counts()

Incomes_max  Incomes_min
150000       100000         742
75000        50000          394
100000       75000          316
40000        30000          265
30000        20000          238
20000        10000          216
50000        40000          207
10000        0              163
dtype: int64

In [73]:
dataset['Incomes_avg'] = dataset[['Incomes_min','Incomes_max']].mean(axis=1)
dataset['Incomes_avg'] = dataset['Incomes_avg'].astype(int)

'Don’t know' values.

In [74]:
len(dataset.loc[dataset.values == 'Don’t know'])/dataset.shape[0]*100

1.770956316410862

In [75]:
dataset.isna().sum()

Age                     0
Race                    0
Sex                     0
Education               0
Employement             0
Books_last_12m          0
Printed_books         345
Audio_books           345
E_books               345
Daily_news              0
Magazines_journals      0
Incomes                 0
Incomes_min             0
Incomes_max             0
Incomes_avg             0
dtype: int64

In [76]:
x = dataset.iloc[:, :11].values
x[:5]

array([[66, 'Refused', 'Male', 'College graduate', 'Retired', 97, 'Yes',
        'No', 'Yes', 'No', 'Yes'],
       [46, 'Native American/American Indian', 'Male',
        'High school graduate', 'Employed full-time', 97, 'Yes', 'Yes',
        'Yes', 'Yes', 'Yes'],
       [32, 'Mixed race', 'Male', 'High school graduate',
        'Employed full-time', 97, 'No', 'Yes', 'Yes', 'Yes', 'Yes'],
       [27, 'Mixed race', 'Male', 'High school graduate',
        'Employed full-time', 97, 'Yes', 'No', 'Yes', 'Yes', 'No'],
       [16, 'Mixed race', 'Female', 'High school incomplete',
        'Employed part-time', 97, 'Yes', 'Yes', 'No', 'Yes', 'No']],
      dtype=object)

In [77]:
y = dataset.iloc[:, -1].values
y[:5]

array([25000,  5000,  5000, 45000, 15000])

## Taking care of missing data

In [78]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(x[:,6:9])
x[:,6:9] = imputer.transform(x[:,6:9])
print(x[:5])

[[66 'Refused' 'Male' 'College graduate' 'Retired' 97 'Yes' 'No' 'Yes'
  'No' 'Yes']
 [46 'Native American/American Indian' 'Male' 'High school graduate'
  'Employed full-time' 97 'Yes' 'Yes' 'Yes' 'Yes' 'Yes']
 [32 'Mixed race' 'Male' 'High school graduate' 'Employed full-time' 97
  'No' 'Yes' 'Yes' 'Yes' 'Yes']
 [27 'Mixed race' 'Male' 'High school graduate' 'Employed full-time' 97
  'Yes' 'No' 'Yes' 'Yes' 'No']
 [16 'Mixed race' 'Female' 'High school incomplete' 'Employed part-time'
  97 'Yes' 'Yes' 'No' 'Yes' 'No']]

## Encoding categorical data

### Encoding the Independent Variable

In [79]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1,2,3,4])], remainder='passthrough')
x = np.array(ct.fit_transform(x))

In [80]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [28,29,30,31,32])], remainder='passthrough')
x = np.array(ct.fit_transform(x))
x[:5]

array([[0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0,
        0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        1.0, 0.0, 66, 97],
       [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0,
        0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0,
        0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 46, 97],
       [0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0,
        0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0,
        0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 32, 97],
       [0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0,
        1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0,
        0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 27, 97],
       [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0,
        1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0,
        0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 16, 97]], dtype=object)

## Splitting the dataset into the Training set and Test set

In [81]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

In [82]:
print(x_train[:1])

[[0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0
  0.0 0.0 0.0 0.0 0.0 48 25]]

In [83]:
print(x_test[:1])

[[0.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
  0.0 0.0 0.0 1.0 0.0 67 5]]

In [84]:
print(y_train[:1])

[125000]

In [85]:
print(y_test[:1])

[45000]

# WIP